.mycustom-title{
	margin-left: 30px;
}
.my-image-style{
	width: 50px;
}
.my-name-user{
	margin-left: 30px;
}
.my-form{
	margin-left: 30px;
	position: absolute;
	
}
.my-button{
	height: 40px !important;
	width: auto !important;
	margin-left:10px !important;
	margin-right:30px !important;
}
.my-ul{
	font-size: 14px !important;
	
}
.my-icon{
	margin-left:-15px !important;
	padding-left: 0px !important;
	margin-right: 20px !important;
}
.my-title-table{
	background-color: white !important;
	vertical-align: middle!important;
}
#title-div-userlist{
	display: inline;
	
}
.my-form-table{
	margin: 5px !important;
	
}
.table {
  width: 100% !important;
  margin-bottom: 1rem  !important;
  background-color: transparent  !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}


.my-table-body{
	text-align: center !important;
	align-items: center!important;
}
#my-table{
	font-size:15px !important;
	text-align: center !important;
	align-items: center!important;
}
.my-table-btn{
	height: 35px !important;
	text-align: center;
	align-items: center;
}
.my-item-icon{
	 color: #CC2EFA !important;
 }