<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/admin/register/register.css">
    <title>Register V1</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
    <a class="navbar-brand" href="#">Đăng kí tài khoản</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
    </div>
    </div>
</nav>


<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Thông tin người dùng</div>
                        

                        <div class="card-body">
							 
                            <form name="my-form" onsubmit="return validform()" action="/auth/register" method="post">
                                 <% if(errors &&  errors.length > 0){ %>
                        <%include ./partials/messages%>
                        <% } %>
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Họ và tên</label>
                                    <div class="col-md-6">
                                        <input type="text" id="full_name" class="form-control" name="name">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Địa chỉ Email</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email_address" class="form-control" name="email">
                                    </div>
                                </div>
								
								
                                <div class="form-group row">
                                    <label for="user_name" class="col-md-4 col-form-label text-md-right">Mật khẩu</label>
                                    <div class="col-md-6">
                                        <input type="password" id="user_name" class="form-control" name="password1">
                                    </div>
                                </div>

								<div class="form-group row">
                                    <label for="Password" class="col-md-4 col-form-label text-md-right">Nhập lại mật khẩu</label>
                                    <div class="col-md-6">
                                        <input type="password" id="Password" class="form-control" name="password2">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Số điện thoại</label>
                                    <div class="col-md-6">
                                        <input type="text" id="phone_number" class="form-control" name= "phonenumber">
                                    </div>

                                </div>


                                <div class="form-group row">
                                    <label for="gender" class="col-md-4 col-form-label text-md-right">Giới Tính</label>
                                    <div class="col-md-6">
                                        <input type="text" id="gender" class="form-control" name="gender">
                                    </div>
                                </div>

								<div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Địa chỉ hiện tại</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" name="address">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Ngày sinh</label>
                                    <div class="col-md-6">
                                        <input type="text" id="permanent_address" class="form-control" name="birthday">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
                                                title="National Id Card"></abbr> Thông tin thêm</label>
                                    <div class="col-md-6">
                                        <input type="text" id="nid_number" class="form-control" name="moreinfo">
                                    </div>
                                </div>



                                    <div class="col-md-6 offset-md-6">
                                        <button type="submit" class="btn btn-primary">
                                        Đăng kí
                                        </button>
										
                                    </div>
							
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>
<script src="/admin/register/register.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>