<link type="text/css" rel="stylesheet" href="../stylesheets/mystylecss.css">
            
            
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div class="aside-content bg-primary-700 text-auto">

                    <div class="aside-toolbar">

                        <div class="logo">
                            <i class="my-item-icon icon-view-dashboard my-icon"></i>
                            <span class="logo-text">Dashboard</span>
                        </div>

                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block fuse-ripple-ready" data-fuse-aside-toggle-fold="">
                            <i class="icon icon-backburger"></i>
                        </button>

                    </div>

                    <ul class="my-ul nav flex-column custom-scrollbar ps ps--active-y" id="sidenav" data-children=".nav-item">
                        <li class="nav-item" role="tab" id="heading-ecommerce">
                            <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse" data-target="#collapse-ecommerce" href="#" aria-expanded="false" aria-controls="collapse-ecommerce" data-parent="#sidenav">
                                <i class="my-item-icon icon-settings-box"></i>
                                <span>Quản lý tài khoản</span>
                            </a>
                            <ul id="collapse-ecommerce" class="collapse " role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                                <li class="nav-item" >
                                    <a class="nav-link ripple" href="/admin/users">
										<i class="icon-account-multiple my-item-icon"></i>
                                        <span>Khách hàng</span>
                                    </a>
                                </li>
								
                                <li class="nav-item">
								<!-- insert hreft value  -->
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/staffs" data-url="apps-chat">
										 <i class="my-item-icon icon-account-network"></i>
                                        <span>Nhân viên</span>
                                    </a>
                                </li>
                            
                            </ul>
                        </li>
                        
                        <li class="nav-item" role="tab" id="heading-a">

                            <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse" data-target="#collapse-products" href="#" aria-expanded="false" aria-controls="collapse-products" data-parent="#sidenav">

                                <i class="my-item-icon icon-cart"></i>

                                <span>Quản lý sản phẩm</span>
                            </a>
                            <ul id="collapse-products" class="collapse " role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/products" data-url="apps-chat">
										<i class="my-item-icon icon-cart"></i>
                                        <span>Danh sách sản phẩm</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/category" data-url="apps-chat">
										<i class="my-item-icon icon-information"></i>	
                                        <span>Loại sản phẩm</span>
                                    </a>
                                </li>

								<li class="nav-item">
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/suppliers" data-url="apps-chat">
										<i class="my-item-icon icon-factory"></i>
                                        <span>Nhà cung cấp</span>
                                    </a>
                                </li>
                              
                            </ul>
                        </li>
                        
                        
                        <li class="nav-item" role="tab" id="heading-ecommerce">

                            <a class="nav-link ripple with-arrow collapsed fuse-ripple-ready" data-toggle="collapse" data-target="#collapse-orders" href="#" aria-expanded="false" aria-controls="collapse-orders" data-parent="#sidenav">

                                <i class="my-item-icon icon-shopping"></i>

                                <span>Quản lý đơn hàng</span>
                            </a>
                            <ul id="collapse-orders" class="collapse " role="tabpanel" aria-labelledby="heading-ecommerce" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/orders" data-url="apps-chat">
										<i class="my-item-icon icon-file-document-box"></i>
                                        <span>Đơn đặt hàng</span>
                                    </a>
                                </li>
                          
								<li class="nav-item">
                                    <a class="nav-link" href="/admin/salesfigures" data-url="apps-chat">
										<i class="my-item-icon icon-elevation-decline"></i>
                                        <span>Doanh thu</span>
                                    </a>
                                </li>
								
								<li class="nav-item">
                                    <a class="nav-link ripple fuse-ripple-ready" href="/admin/top10" data-url="apps-chat">
										<i class="my-item-icon icon-arrow-top-right"></i>
                                        <span>Top 10</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>    

                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 407px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 108px;"></div></div></ul>
                </div>

            </aside>