<!DOCTYPE html>
<html lang="en-us">

<head>
     <%include ../header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
    <main>
      
		  <div id="wrapper">
            <%include ../sidebar%>
          <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">
                    <div >
                        <!-- HEADER -->
                        <div class="text-auto row no-gutters align-items-center justify-content-between p-6">

                            <div class="row no-gutters align-items-center">
                                <div >
                                    <img class ="my-image-style" src="/admin/images/img.png"/>
                                </div>
                                <h3 class="my-name-user">Tên nhà cung cấp: FTP Telecom</h3>
                            </div>
                         <button type="button" class="btn btn-primary my-button">
						 Cập nhật 	
						 </button>
                        </div>
                        <!-- / HEADER -->

			
						<div class="container">
						  <div class="row">
							<div class="col-sm-10">
							  <form class="my-form">
											
								<div id="email-user">
									<h5><i class="fa fa-info"></i>Email: ngovietduc200@gmail.com</h5>
								</div>

										
								<div id="phone-user">
									<h5><i class="fa fa-phone"></i>Điện thoại: 1324123423</h5>
								</div>	
								
								<div id="address-user">
									<h5><i class="fa fa-location-arrow"></i>Địa chỉ: quận phú nhuận thành phố hồ chí minh</h5>
								</div>

								<div id="date-birth-user">
									<h5 ><i class="fa fa-calendar"></i> Ngày hợp tác: một ngày nào đó</h5>
								</div>
										
								
								
							</form>
						
							</div>
							<div class="col-sm-1">  
							</div>
							
						  </div>
						</div>
						</div>

                    <script type="text/javascript" base src="/assets/js/apps/e-commerce/product/product.js"></script>

                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 471px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div></div></div>
            </div>
		</div>
		  
	</main>	
</body>
	
</html>