.nav-brand{
	margin-left: 20px;
}
#sidebar{
margin-left:10px !important;
}

#my-side-div{
	

}
#my-carousel{
 width: 100% !important; 
 height: 100% !important;
}
#my-card-index{
	
}
.nav-item{
	
	margin-left:10px;
}
.my-btn-nav{
	margin-left: 10px;
	
	
}
#body-row {
	margin: 10px 0px; 	
	background-color: transparent;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: transparent;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
#my-dark-footer{
	background-color: #333;
	color: white;
	text-align: center;
}
my-sidebar-icon{
	
	margin-right: 20px;
}

body{
	background-color: #A4A4A4 !important;
}
.top10-index
{
	margin: 5px;
}

#my-footer{
	padding: 20px;
	background-color: #333333;
	color: white;
}
.footer-role{
	color: green;
	font-style:bold;	
}
.link-footer{
	text-decoration: none;
	
}
.link-footer:hover{
	text-decoration: none;
	
}
.link-footer:link{
	text-decoration: none;
	
}
.img-footer-icon{
	height: 25%;
	width: auto;
	border-radius: 50%;
	
}

.top10-title{
	padding: 10px;
	background-color: #333333;
	color: white;
	margin:10px;
	border-radius: 5px;
}
.carousel-title{
	color: #4000FF !important;
}