
<div class="row" id="my-footer" >
	<div class="col-3">
		<h5>Hỗ trợ khách hàng</h5>
		<p class="footer-role">Admin</p>
		<p>Bùi Minh Hải- Cao Thanh Hai- Lý Trường Thanh Giang</p>
		<p class="footer-role">Holine</p>
		<p>1900 8198</p>
	</div>
	<div class="col-3">
		<h5>Về chúng tôi</h5>
		<a class="link-footer" href="https://www.facebook.com/minhhai4" alt="link-fb" target="_blank"><h5>Bùi Minh Hải</h5></a><br>
		<a class="link-footer" href="https://www.facebook.com/minhhai4" alt="link-fb" target="_blank"><h5>Cao Thanh Hai</h5></a><br>
		<a class="link-footer" href="https://www.facebook.com/minhhai4" alt="link-fb" target="_blank"><h5>Lý Trường Thanh Giang</h5></a>
	</div>
	
	<div class="col-3">
		<h5>Phương thức thanh toán</h5>
		<img class="img-payment" src="customer/images/payment.png"></img>
	</div>
	<div class="col-3">
		<h5> Kết Nối với chúng tôi </h5>
		<a class="link-footer" href="https://github.com/buiminhhai1/final-udw-master" target="_blank" alt="github icon">
			<img class="img-footer-icon" src="customer/images/github.jpg"></img>
		</a>
	</div>
</div>	