<!DOCTYPE html>
<html lang="en">
  <head>


  </head>
<body>
<%include ../header%>
<!-- Header End====================================================================== -->
	
	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar ================================================== -->
			<div class="col-2">
				<%include ../sidebar %>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="col-10" style="margin-top: 10px;"> 
			
				<div class="row">
					<div class="row-5 top10-title">
						<h4>Danh sách Điện thoại</h4>
					</div>
				</div>
				<!-- đầy sidebar-->
				<div class="row" style="margin-top:10px;">
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-top:15px;">
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
					
					<div class="col-3">
						<div class="card" style="width: 17rem;">
							<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">Laptop Hp</p>
								<h5 class="card-title">25,000,000 Đ</h5>
								<button type="button" class="btn btn-primary">Chi tiết</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- dữ liệu đổ vào nhớ chú ý mấy cái class với style nhé, nó khác mấy cái ở trên nha.-->
		<div class="row">
			<div class="row-5 top10-title">
				<h4>Iphone</h4>
			</div>
		</div>
		<div class="row">
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			
			
		
		</div>
		<div class="row">
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Laptop Hp</p>
						<h5 class="card-title">25,000,000 Đ</h5>
						<button type="button" class="btn btn-primary">Chi tiết</button>
					</div>
				</div>
			</div>
			
			
		
		</div>
		
		
		
		<%include ../footer %>
	</div>
	

</body>

</html>