
<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Menu with phone -->
        	<a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fas fa-camera fa-fw mr-3"></span>
                    <span class="menu-collapsed">Máy ảnh</span>
                    <span class="fa fa-caret-down ml-auto"></span>
                </div>
            </a>
            <!-- phone content -->
           <div id='submenu3' class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
					<span class="fas fa-camera fa-fw-mr-3"></i>
                    <span class="menu-collapsed">  Canon </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
					<span class="fas fa-camera-retro fa-fw-mr-3"></i>
                    <span class="menu-collapsed">  Nikon </span>
                </a>
				<a href="#" class="list-group-item list-group-item-action bg-dark text-white">
					<span class="fas fa-camera-retro fa-fw-mr-3"></i>
                    <span class="menu-collapsed">  Sony </span>
                </a>
				<a href="#" class="list-group-item list-group-item-action bg-dark text-white">
					<span class="fas fa-camera-retro fa-fw-mr-3"></i>
                    <span class="menu-collapsed">  Fujifilm </span>
                </a>
				<a href="#" class="list-group-item list-group-item-action bg-dark text-white">
					<span class="fas fa-camera-retro fa-fw-mr-3"></i>
                    <span class="menu-collapsed">  Olympus </span>
                </a>
			
            </div> 
		</ul>
    </div><!-- Main Col END -->
    
</div><!-- body-row END -->