<!DOCTYPE html>
<html lang="en-us">

<head>
 <%include header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
    <main>
       <div id="wrapper">
            <%include sidebar%>
          <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">
                    <div >
                   
						<!-- / body -->
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<form class="my-form">
										<script>
											$(document).ready(function() {
												$('#example').DataTable(); <!-- chỉnh css cho nó là xong  -->
											} );
										</script>	
										<table id="example" class="table " style="width:100%">
											<thead class="my-title-table">
												<tr>
													<th>Tên</th>
													<th>Ngày sinh</th>
													<th>Địa chỉ</th>
													<th>SĐT</th>
													<th>Hình</th>
													<th>Tên tài khoản</th>
													<th>Sửa</th>
													<th>Xóa</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>Bùi Minh Hải</th>
													<th>02/02/1997</th>
													<th>quận 4, tp Hồ Chí Minh</th>
													<th>0372343546</th>
													<th></th>
													<th></th>
													<td>
														<button type="button" class="btn btn-info btn-lg">Chỉnh Sửa</button>
													</td>
													<td>
														<button type="button" class="btn btn-danger btn-lg">Xóa</button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th>Tên</th>
													<th>Ngày sinh</th>
													<th>Địa chỉ</th>
													<th>SĐT</th>
													<th>Hình</th>
													<th>Tên tài khoản</th>
													<th>Sửa</th>
													<th>Xóa</th>
												</tr>
											</tfoot>
										</table>
								
									</form>
								</div>
							</div>
						</div>
						<!-- enđ body --> 
                    

                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 471px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div></div></div>
            </div>
		</div>
		 
    </main>
</body>

</html>