<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6">Xin chào!<strong> nguyễn văn A</strong>
		</div>
	<div class="span6">
	<div class="pull-right">
		
		
	</div>
	</div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="./"><img src="customer/themes/images/logo.png" alt="Bootsshop"></a>
		<form class="form-inline navbar-search" method="post" action="products" >
		<input id="srchFld"  class="srchTxt" type="text">
		  <select class="srchTxt">
			<option>Tất cả</option>
			<option>Samsung </option>
			<option>Apple</option>
			<option>Huawei </option>
			<option>Nokia </option>
			<option>Asus </option>
			<option>HP </option>

		</select> 
		  <button type="submit" id="submitButton" class="btn btn-primary">Tìm kiếm</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
	
	<li class=""><a href="productsummary"><i class="icon-shopping-cart icon-white"></i>Giỏ hàng</a> </li>
	<li class=""><a href="payment">Thanh toán</a></li>
	<li class=""><a href="orders">Đơn hàng</a></li>
	<li class=""><a href="updateinfo">Tài khoản</a></li>
	
	 <li class="">
	 <a href="/login" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Đăng nhập</span></a>
	
	</li>
    </ul>
  </div>
</div>
</div>
</div>