<%include head %>


<!-- Navbar ================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="brand" href="./"><img src="customer/themes/images/logo.png" alt="Bootsshop"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Nhập ở đây" aria-label="Search">
				<button class="btn btn-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
			</form>
		</li>
	
      <li class="nav-item">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Điện thoại</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">Laptop</a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="#">Máy ảnh</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#">Ti vi</a>
      </li>
    </ul>
    <form class="form-inline">
			<button class="btn btn-success my-btn-nav" type="button"><i class="fa fa-list"></i> Đơn hàng</button>
			<button class="btn btn-success my-btn-nav" type="button"><i class="fa fa-cart-plus"></i> Giỏ hàng</button>
			<button class="btn btn-success my-btn-nav" type="submit"><i class="fa fa-user"> </i> Đăng nhập</button>
	</form>
  </div>
</nav>








