<%include head %>
  <style>
  .badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  
  }
  </style>
<!-- Navbar ================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="brand" href="./"><img src="customer/themes/images/logo.png" alt="Bootsshop"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Nhập ở đây" aria-label="Search">
				<button class="btn btn-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
			</form>
		</li>
	
      <li class="nav-item">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mobile">Điện thoại</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/laptop">Laptop</a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="/camera">Máy ảnh</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/tivi">Ti vi</a>
      </li>
    </ul>
    <form class="form-inline">
			<a href="/orders"><button class="btn btn-success my-btn-nav" type="button"><i class="fa fa-list"></i> Đơn hàng</button></a>
			<a href="productsummary"><button class="btn btn-success my-btn-nav" type="button">
			<i id="my-cart-icon" class="fa fa-cart-plus"></i> Giỏ hàng<span class="badge badge-danger my-cart-badge">3</span></button></a>
			<a href="/admin"><button  class="btn btn-success my-btn-nav" type="button"><i class="fa fa-user"> </i> Đăng nhập</button></a>
	</form>
  </div>
</nav>








