<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<%include head%>
    
  </head>
<body>
<%include header%>
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
<%include sidebar%>	

<!-- Sidebar end=============================================== -->
<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index">Home</a> <span class="divider">/</span></li>
    <li><a href="products">Products</a> <span class="divider">/</span></li>
    <li class="active">product Details</li>
    </ul>	
	<div class="row">	  
			<div id="gallery" class="span3">
            <a href="themes/images/products/large/f1.jpg" title="Máy ảnh kĩ thuật số Fujifilm FinePix S2950">
				<img src="customer/themes/images/products/large/3.jpg" style="width:100%" alt="Máy ảnh kĩ thuật số Fujifilm FinePix S2950">
            </a>
			<div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f1.jpg" alt=""></a>
                   <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f2.jpg" alt=""></a>
                   <a href="themes/images/products/large/f3.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f3.jpg" alt=""></a>
                  </div>
                  <div class="item">
                   <a href="themes/images/products/large/f3.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f3.jpg" alt=""></a>
                   <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f1.jpg" alt=""></a>
                   <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="customer/themes/images/products/large/f2.jpg" alt=""></a>
                  </div>
                </div>
              <!--  
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  -->
              </div>
			  
			 <div class="btn-toolbar">
			  <div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn"><i class="icon-print"></i></span>
				<span class="btn"><i class="icon-zoom-in"></i></span>
				<span class="btn"><i class="icon-star"></i></span>
				<span class="btn"><i class=" icon-thumbs-up"></i></span>
				<span class="btn"><i class="icon-thumbs-down"></i></span>
			  </div>
			</div>
			</div>
			<div class="span6">
				<h3>Máy ảnh kĩ thuật số Fujifilm FinePix S2950  </h3>
				<small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
				<hr class="soft">
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>$222.00</span></label>
					<div class="controls">
					<input type="number" class="span1" placeholder="Qty.">
					  <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
					</div>
				  </div>
				</form>
				
				<hr class="soft">
				<h4>100 sản phẩm trong kho</h4>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Màu</span></label>
					<div class="controls">
					  <select class="span2">
						  <option>Black</option>
						  <option>Red</option>
						  <option>Blue</option>
						  <option>Brown</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr">
				<p>
					14 Megapixel. Zoom quang học 18,0 x. Màn hình LCD 3.0 inch. Ảnh Full HD và quay phim HD 1280 x 720p. Độ nhạy ISO ISO6400 ở độ phân giải giảm. Theo dõi lấy nét tự động. Chế độ toàn cảnh chuyển động. Công nghệ nhận diện khuôn mặt với phát hiện Blink và chế độ Smile and shot. Không bao gồm 4 pin AA. WxDxH 110,2 × 81,4x73,4mm. Trọng lượng 0.341kg (không bao gồm pin và thẻ nhớ). Trọng lượng 0,437kg (bao gồm pin và thẻ nhớ).
				
				</p>
				<a class="btn btn-small pull-right" href="#detail">Thêm thông tin</a>
				<br class="clr">
			<a href="#" name="detail"></a>
			<hr class="soft">
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
              <li><a href="#profile" data-toggle="tab">Related Products</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Thông tin sản phẩm</h4>
                <table class="table table-bordered">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Chi tiết sản phẩm</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">Fujifilm</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">FinePix S2950HD</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2"> 2011-01-28</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Display size:</td><td class="techSpecTD2">3</td></tr>
				</tbody>
				</table>
				
				<h5>Tính năng</h5>
				<p>
				14 Megapixel. Zoom quang học 18,0 x. Màn hình LCD 3.0 inch. Ảnh Full HD và quay phim HD 1280 x 720p. Độ nhạy ISO ISO6400 ở độ phân giải giảm. Theo dõi lấy nét tự động. Chế độ toàn cảnh chuyển động. Công nghệ nhận diện khuôn mặt với phát hiện Blink và chế độ Smile and shot. Không bao gồm 4 pin AA. WxDxH 110,2 × 81,4x73,4mm. Trọng lượng 0.341kg (không bao gồm pin và thẻ nhớ). Trọng lượng 0,437kg (bao gồm pin và thẻ nhớ).<br>
				OND363338
				</p>

				<h4>Đánh giá</h4>
				<h5>Mô tả của nhà sản xuất </h5>
				<p>
				Với ống kính zoom quang học Fujinon 18x hào phóng, S2950 thực sự có một cú đấm, đặc biệt là khi được kết hợp với cảm biến 14 megapixel, màn hình LCD lớn 3.0 "và quay phim HD 720p (30 khung hình / giây).
				</p>

				<h5>Ống kính zoom Fujinon 18x chạy bằng điện</h5>
				<p>
				S2950 có ống kính zoom quang Fujinon độ chính xác cao 28mm - 504mm *. Hoạt động đơn giản với cần gạt zoom chạy bằng điện, phạm vi zoom khổng lồ có nghĩa là bạn có thể chụp tất cả các chi tiết, ngay cả khi bạn ở khoảng cách đáng kể. Bạn thậm chí có thể vận hành thu phóng trong khi quay video. Không giống như một chiếc D-SLR cồng kềnh, máy ảnh cầu cho phép bạn có khả năng thu phóng linh hoạt tuyệt vời mà không gặp khó khăn khi mang theo túi đựng ống kính.
				</p>
				<h5>Ảnh toàn cảnh ấn tượng</h5>
				<p>
					Với chế độ chụp Toàn cảnh dễ sử dụng, bạn có thể sáng tạo trên S2950, tuy nhiên, cơ bản là các kỹ năng của bạn và yên tâm rằng bạn sẽ không mạo hiểm chụp các phong cảnh không bằng phẳng hoặc chân trời run rẩy. Máy ảnh cho phép bạn chụp ba bức ảnh liên tiếp với một công cụ hữu ích tự động nhả cửa trập một khi các hình ảnh được căn chỉnh hoàn toàn để ghép liền mạch các bức ảnh lại với nhau trong máy ảnh. Thật dễ dàng và kết quả thật ấn tượng.
				</p>

				<h5>Ảnh sắc nét, rõ ràng</h5>
				<p>
				Ngay cả ở các cài đặt thu phóng dài nhất hoặc trong điều kiện ánh sáng khó khăn nhất, S2950 vẫn có thể tạo ra kết quả rõ nét, sắc nét. Với khả năng ổn định cơ học 1/2 3 ", cảm biến CCD 14 megapixel và cài đặt độ nhạy ISO cao, công nghệ Ổn định hình ảnh kép của Fujifilm kết hợp để giảm hiệu ứng làm mờ của cả rung tay và chuyển động chủ thể để mang lại hình ảnh tuyệt vời.
				</p>
              </div>
		<div class="tab-pane fade" id="profile">
		<div id="myTab" class="pull-right">
		 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
		 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
		</div>
		<br class="clr">
		<hr class="soft">
		<div class="tab-content">
			<div class="tab-pane" id="listView">
				<div class="row">	  
					<div class="span2">
						<img src="customer/themes/images/products/4.jpg" alt="">
					</div>
					<div class="span4">
						<h3>Mới | Khả dụng</h3>
						<hr class="soft">
						<h5>Tên Sản Phẩm </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">Chi tiết sản phẩm </a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $222.00</h3>
					<label class="checkbox">
						<input type="checkbox">  Thêm vào so sánh
					</label><br>
					<div class="btn-group">
					  <a href="product_details" class="btn btn-large btn-primary"> Thêm vào <i class=" icon-shopping-cart"></i></a>
					  <a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
					 </div>
						</form>
					</div>
			</div>
			<hr class="soft">
			<div class="row">	  
					<div class="span2">
						<img src="customer/themes/images/products/5.jpg" alt="">
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft">
						<h5>Product Name </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">Thêm chi tiết</a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox"> Thêm vào so sánh
						</label><br>
						<div class="btn-group">
						<a href="product_details" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
					</form>
					</div>
			</div>
			<hr class="soft">
			<div class="row">	  
					<div class="span2">
					<img src="customer/themes/images/products/6.jpg" alt="">
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft">
						<h5>Product Name </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">View Details</a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $222.00</h3>
					<label class="checkbox">
						<input type="checkbox"> Thêm vào so sánh
					</label><br>
				<div class="btn-group">
				  <a href="product_details" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
				  <a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				 </div>
						</form>
					</div>
			</div>
			<hr class="soft">
			<div class="row">	  
					<div class="span2">
					<img src="customer/themes/images/products/7.jpg" alt="">
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft">
						<h5>Product Name </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">View Details</a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Thêm vào so sánh
						</label><br>
						<div class="btn-group">
						<a href="product_details" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			
			<hr class="soft">
			<div class="row">	  
					<div class="span2">
					<img src="customer/themes/images/products/8.jpg" alt="">
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft">
						<h5>Product Name </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">View Details</a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Thêm vào so sánh
						</label><br>
						<div class="btn-group">
						<a href="product_details" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			<hr class="soft">
				<div class="row">	  
					<div class="span2">
					<img src="customer/themes/images/products/9.jpg" alt="">
					</div>
					<div class="span4">
						<h3>New | Available</h3>				
						<hr class="soft">
						<h5>Product Name </h5>
						<p>
							Ngày nay ngành công nghiệp đồ lót là một trong những lĩnh vực kinh doanh thành công nhất. Chúng tôi luôn giữ liên lạc với các xu hướng thời trang mới nhất -
							đó là lý do tại sao hàng hóa của chúng tôi rất phổ biến ..
						</p>
						<a class="btn btn-small pull-right" href="product_details">View Details</a>
						<br class="clr">
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $222.00</h3>
						<label class="checkbox">
						<input type="checkbox">  Adds product to compair
						</label><br>
						<div class="btn-group">
						<a href="product_details" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
						<a href="product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
						</div>
						</form>
					</div>
			</div>
			<hr class="soft">
		</div>
			<div class="tab-pane active" id="blockView">
				<ul class="thumbnails">
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/10.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						  <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/11.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						  <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/12.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						   <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/13.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						   <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/1.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						   <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a href="product_details"><img src="customer/themes/images/products/2.jpg" alt=""></a>
						<div class="caption">
						  <h5>Manicure &amp; Pedicure</h5>
						  <p> 
							Mới ra mắt 
						  </p>
						   <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">€222.00</a></h4>
						</div>
					  </div>
					</li>
				  </ul>
			<hr class="soft">
			</div>
		</div>
				<br class="clr">
					 </div>
		</div>
          </div>

	</div>
</div>
	</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
	<%include footer%>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="customer/themes/js/jquery.js" type="text/javascript"></script>
	<script src="customer/themes/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="customer/themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="customer/themes/js/bootshop.js"></script>
    <script src="customer/themes/js/jquery.lightbox-0.5.js"></script>
	
</body>
</html>