<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
	    <meta name="author" content="">
<%include head%>
    
  </head>
<body>
<%include header%>
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	<form class="form-horizontal" >
		<h4>Thông tin cá nhân</h4>
		<div class="control-group">
		<label class="control-label">Giới tính <sup>*</sup></label>
		<div class="controls">
		<select class="span1" name="days">
			<option value="">-</option>
			<option value="1">Nam</option>
			<option value="2">Nữ</option>
			<option value="3">Khác</option>
		</select>
		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFname1">Họ <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputFname1" placeholder="Họ và tên đệm">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="inputLnam">Tên <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLnam" placeholder="Tên">
			</div>
		 </div>
			  
	<div class="control-group">
		<label class="control-label" for="inputMật khẩu1">Mật khẩu <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="inputMật khẩu1" placeholder="Mật khẩu">
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Ngày sinh <sup>*</sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
		</div>
	  </div>



		<h4>Địa chỉ của bạn</h4>
		<div class="control-group">
			<label class="control-label" for="inputFname">Họ <sup></sup></label>
			<div class="controls">
				<input type="text" id="inputFname" placeholder="First Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Tên <sup></sup></label>
			<div class="controls">
				<input type="text" id="inputLname" placeholder="Last Name">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="company">Công ty</label>
			<div class="controls">
				<input type="text" id="company" placeholder="company">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="address">Địa chỉ<sup></sup></label>
			<div class="controls">
				<input type="text" id="address" placeholder="Adress"> <span>Số nhà, tên đường, phường, quận, thành phố</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="address2">Địa chỉ cơ quan <sup></sup></label>
			<div class="controls">
				<input type="text" id="address2" placeholder="Adress line 2"> <span>Phòng, ban, tòa, tầng, vv.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">Thành phố<sup></sup></label>
			<div class="controls">
				<input type="text" id="city" placeholder="city">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="postcode">Mã bưu điện <sup></sup></label>
			<div class="controls">
				<input type="text" id="postcode" placeholder="Zip / Postal Code">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="country">Quốc gia<sup></sup></label>
			<div class="controls">
				<select id="country">
					<option value="">-</option>
					<option value="1">Việt Nam</option>
					<option value="1">Việt Nam</option>
					<option value="1">Việt Nam</option>
					<option value="1">Việt Nam</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="aditionalInfo">Thông tin thêm</label>
			<div class="controls">
				<textarea name="aditionalInfo" id="aditionalInfo" cols="26" rows="3">Thêm những thông tin khác</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="phone">Số điện thoại bàn <sup></sup></label>
			<div class="controls">
				<input type="text" name="phone" id="phone" placeholder="phone"> <span>Bạn phải cập nhật ít nhất 1 số điện thoại</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="mobile">Số di động </label>
			<div class="controls">
				<input type="text" name="mobile" id="mobile" placeholder="Mobile Phone">
			</div>
		</div>


	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Đăng kí" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
<%include footer%>
</body>
</html>