<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
	    <meta name="author" content="">
<%include head%>
    
  </head>
<body>
<%include header%>
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active"></li>
    </ul>
	<h3> Đăng Kí</h3>	
	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	<form class="form-horizontal">
		<h4>Thông tin cá nhân</h4>
		<div class="control-group">
			<label class="control-label" for="inputFullname">Họ và tên <sup></sup></label>
			<div class="controls">
			  <input type="text" id="inputFullname" placeholder="Full name">
			</div>
		 </div>
		  <div class="control-group">
			<label class="control-label" for="avatar">Hình Đại diện <sup></sup></label>
			<div class="controls">
			  <input type="text" id="avatar" placeholder="avatar">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="NID">CMND <sup></sup></label>
			<div class="controls">
			  <input type="text" id="NID" placeholder="NID number">
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label">Giới tính<sup></sup></label>
		<div class="controls">
		<select class="span1" name="days">
			<option value="">-</option>
			<option value="1">Nam</option>
			<option value="2">Nữ</option>
			<option value="3">Khác</option>
		</select>
		</div>
		</div>
		<div class="control-group">
		<label class="control-label" for="input_email">Email <sup></sup></label>
		<div class="controls">
		  <input type="text" id="input_email" placeholder="Email">
			</div>
		</div>	
		
		<div class="control-group">
		<label class="control-label" for="inputUsername">Tên Đăng Nhập <sup></sup></label>
		<div class="controls">
		  <input type="password" id="inputUsername" placeholder="Username">
		</div>
	  </div>
		
		<div class="control-group">
		<label class="control-label" for="inputPassword">Mật khẩu <sup></sup></label>
		<div class="controls">
		  <input type="password" id="inputPassword" placeholder="Password">
		</div>
	  </div>	  
		<div class="control-group">
		<label class="control-label">Ngày sinh <sup></sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
					<option value="8">8&nbsp;&nbsp;</option>
					<option value="9">9&nbsp;&nbsp;</option>
					<option value="10">10&nbsp;&nbsp;</option>
					<option value="11">11&nbsp;&nbsp;</option>
					<option value="12">12&nbsp;&nbsp;</option>
					<option value="13">13&nbsp;&nbsp;</option>
					<option value="14">14&nbsp;&nbsp;</option>
					<option value="15">15&nbsp;&nbsp;</option>
					<option value="16">16&nbsp;&nbsp;</option>
					<option value="17">17&nbsp;&nbsp;</option>
					<option value="18">18&nbsp;&nbsp;</option>
					<option value="19">19&nbsp;&nbsp;</option>
					<option value="20">20&nbsp;&nbsp;</option>
					<option value="21">21&nbsp;&nbsp;</option>
					<option value="22">22&nbsp;&nbsp;</option>
					<option value="23">23&nbsp;&nbsp;</option>
					<option value="24">24&nbsp;&nbsp;</option>
					<option value="25">25&nbsp;&nbsp;</option>
					<option value="26">26&nbsp;&nbsp;</option>
					<option value="27">27&nbsp;&nbsp;</option>
					<option value="28">28&nbsp;&nbsp;</option>
					<option value="29">29&nbsp;&nbsp;</option>
					<option value="30">30&nbsp;&nbsp;</option>
					<option value="31">31&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="months">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;</option>
					<option value="8">8</option>
					<option value="9">9&nbsp;</option>
					<option value="10">10&nbsp;</option>
					<option value="11">11&nbsp;</option>
					<option value="12">12</option>

			</select>
			<select class="span1" name="years">
				<option value="">-</option>
					<option value="1991">1991&nbsp;&nbsp;</option>
					<option value="1992">1992&nbsp;&nbsp;</option>
					<option value="1993">1993&nbsp;&nbsp;</option>
					<option value="1994">1994&nbsp;&nbsp;</option>
					<option value="1995">1995&nbsp;&nbsp;</option>
					<option value="1996">1996&nbsp;&nbsp;</option>
					<option value="1997">1997&nbsp;&nbsp;</option>
					<option value="1998">1998&nbsp;&nbsp;</option>
					<option value="1999">1999&nbsp;&nbsp;</option>
					<option value="2000">2000&nbsp;&nbsp;</option>
					<option value="2001">2001&nbsp;&nbsp;</option>
					<option value="2002">2002&nbsp;&nbsp;</option>
					<option value="2003">2003&nbsp;&nbsp;</option>
					<option value="2004">2004&nbsp;&nbsp;</option>
					<option value="2005">2005&nbsp;&nbsp;</option>
					<option value="2006">2006&nbsp;&nbsp;</option>
					<option value="2007">2007&nbsp;&nbsp;</option>
					<option value="2008">2008&nbsp;&nbsp;</option>
					<option value="2009">2009&nbsp;&nbsp;</option>
					<option value="2010">2010&nbsp;&nbsp;</option>
					<option value="2011">2011&nbsp;&nbsp;</option>
					<option value="2012">2012&nbsp;&nbsp;</option>
					<option value="2013">2013&nbsp;&nbsp;</option>
					<option value="2014">2014&nbsp;&nbsp;</option>
					<option value="2015">2015&nbsp;&nbsp;</option>
					<option value="2016">2016&nbsp;&nbsp;</option>
					<option value="2017">2017&nbsp;&nbsp;</option>
					<option value="2018">2018&nbsp;&nbsp;</option>
					<option value="2019">2019&nbsp;&nbsp;</option>
					<option value="2020">2020&nbsp;&nbsp;</option>
				
			</select>
		</div>
	  </div>
		<div class="control-group">
			<label class="control-label" for="address">Địa chỉ<sup></sup></label>
			<div class="controls">
			  <input type="text" id="address" placeholder="Adress"> <span>Số nhà, tên đường, phường, quận, thành phố</span>
			</div>
		</div>
		
		
		<div class="control-group">
			<label class="control-label" for="mobile">Số di động </label>
			<div class="controls">
			  <input type="text" name="mobile" id="mobile" placeholder="Mobile Phone"> 
			</div>
		</div>
		

	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Đăng kí">
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
<%include footer%>
</body>
</html>