<div id="sidebar" class="span3">
		<div class="well well-small"><a id="myCart" href="product_summary"><img src="customer/themes/images/ico-cart.png" alt="cart">3 món hàng trong giỏ
		<span class="badge badge-warning pull-right">$222.00</span></a></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a> Danh sách sản phẩm</a>
				<ul>
				<li><a class="active" href="products"><i class="icon-chevron-right"></i>Camera (100) </a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Computer, Tablets &amp; laptop (30)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Sound &amp; Vision (15)</a></li>
				</ul>
			</li>
		</ul>
		<br>
		  <div class="thumbnail">
			<img src="customer/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera">
			<div class="caption">
			  <h5>Panasonic</h5>
				<h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
			</div>
		  </div><br>
			<div class="thumbnail">
				<img src="customer/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
				<div class="caption">
				  <h5>Kindle</h5>
				    <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
				</div>
			  </div><br>
			<div class="thumbnail">
				<img src="customer/themes/images/payment_methods.png" title="Bootshop Phương thức thanh toán" alt="Payments Methods">
				<div class="caption">
				  <h5>Phương thức thanh toán</h5>
				</div>
			  </div>
	</div>