<div id="sidebar" class="span3">
		<div class="well well-small"><a id="myCart" href="product_summary"><img src="customer/themes/images/ico-cart.png" alt="cart">3 món hàng trong giỏ
		<span class="badge badge-warning pull-right">$222.00</span></a></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a> Thiết bị điện tử [230]</a>
				<ul>
				<li><a class="active" href="products"><i class="icon-chevron-right"></i>Camera (100) </a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Computer, Tablets &amp; laptop (30)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Sound &amp; Vision (15)</a></li>
				</ul>
			</li>
			<li class="subMenu"><a> Quần áo [840] </a>
			<ul style="display:none">
				<li><a href="products"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>	
				<li><a href="products"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>												
			</ul>
			</li>
			<li class="subMenu"><a>Ăn uống [1000]</a>
				<ul style="display:none">
				<li><a href="products"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>Bouchard Aine &amp; Fils (8)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>	
				<li><a href="products"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
				<li><a href="products"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Other Liquors &amp; Wine (5)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Garden (3)</a></li>												
				<li><a href="products"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>												
			</ul>
			</li>
			<li><a href="products">Sức khoẻ &amp; Sắc đẹp [18]</a></li>
			<li><a href="products">Thể thao &amp; Du lịch [58]</a></li>
			<li><a href="products">Sách &amp; Giải trí [14]</a></li>
		</ul>
		<br>
		  <div class="thumbnail">
			<img src="customer/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera">
			<div class="caption">
			  <h5>Panasonic</h5>
				<h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
			</div>
		  </div><br>
			<div class="thumbnail">
				<img src="customer/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
				<div class="caption">
				  <h5>Kindle</h5>
				    <h4 style="text-align:center"><a class="btn" href="product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
				</div>
			  </div><br>
			<div class="thumbnail">
				<img src="customer/themes/images/payment_methods.png" title="Bootshop Phương thức thanh toán" alt="Payments Methods">
				<div class="caption">
				  <h5>Phương thức thanh toán</h5>
				</div>
			  </div>
	</div>