		  
	<div class="modal fade my-temp-dialog" id="my-product-dialog-edit" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Cập nhật sản phẩm</h2>
				</div>
					<form action ="/admin/products" method="post">
				<div class="modal-body ">
							<div >
						  <label for="edit-user-id">Id</label>
						  <input type="text" class="form-control" id="edit-user-id" value="" name ="_id" readonly />
						</div>

						<div >
						  <label for="edit-user-id">Id Product</label>
						  <input type="text" class="form-control" id="edit-user-idproduct" value="" name ="IdProduct" />
						</div>

						
						<div >
						  <label for="edit-user-displayname">Tên sản phẩm</label>
						  <input type="text" class="form-control" id="edit-user-displayname" value="" name ="DisplayName" required/>
						</div>
					
						<div >
						  <label for="edit-user-id"> Nhà cung cấp</label>
						  <input type="text" class="form-control" id="edit-user-supplier" value="" name ="Supplier" />
						</div>
						<div >
						  <label for="edit-user-displayname">Thể loại</label>
						  <input type="text" class="form-control" id="edit-user-idcategory" value="" name ="IdCategory" required/>
						</div>
					
					<div class="form-row">
						<div class="col-md-12">
						  <label for="edit-user-email">Giá</label>
						  <input type="text" class="form-control" id="edit-user-price" value="" name = "Price" />
						</div>
					</div>

					


					<div class="form-row">
						<div class="col-md-12">
						  <label for="edit-user-email">Link hình ảnh đại diện</label>
						  <input type="text" class="form-control" id="edit-user-imageavatar" value="" name = "ImageAvatar" />
						</div>
					</div>


					<div class="form-row">
						<div class="col-md-12">
						  <label for="edit-user-email">Link hình ảnh chi tiết</label>
						  <input type="text" class="form-control" id="edit-user-imageinfo" value="" name = "ImageInfo" />
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-5">Thiết kế</label>
							<input type="text" class="form-control" id="edit-user-thietke" value="" name="thietke"/>
						</div>
					</div>
					


					<div class="form-row">
						<div class="col-md-12">Hiển Thi</label>
							<input type="text" class="form-control" id="edit-user-hienthi" value="" name="HienThi"/>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-12">Cấu hình</label>
							<input type="text" class="form-control" id="edit-user-cauhinh" value="" name="CauHinh"/>
						</div>
					</div>
					
					<div class="form-row">
						<div class="col-md-12">
							<label for="edit-user-address">Khác</label>
							<input type="text" class="form-control" id="edit-user-khac" value="" name="Khac"/>
						</div>
					</div>
					
					
										
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-primary" type="submit"  >Cập nhật</button>
					<!-- <button class="btn btn-default btn-danger" type="button" onclick="deleteUser()">Xóa</button> -->
					<button class='btn btn-default btn-dark' type ='button' data-dismiss="modal">Hủy bỏ</button>
				</div>
				</form>
				<script>
					function updateUserDetail(){
						alert("Thông tin người dùng đã được cập nhật");
					}
					function deleteUser(){
						alert("Người dùng đã bị xóa ra khỏi cở sở dữ liệu");
					}





					
				</script>
			</div>
		
		</div>

	</div>
